.APIReferences {
    margin: 0.5em auto;
    padding: 0.5em;
    background-color: #eeeeee;
    border-radius: 1em;
    border: 2px solid #777777;
    max-width: 45em;
}

.APIReferences .APIReference {
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 0.75em;
}

@media only all and (max-width: 450px) {
    
    .APIReferences {
        /* This is centered, but will touch the sides if margin left/right is left on auto */
        margin: 0.5em;
    }   
}