.LoginForm {
	margin: 0.5em auto;
    padding: 0.5em 1em;
    background-color: #d3d3d3;
    border-radius: 1em;
    border: 2px solid #777777;
    max-width: 30em;
}

.LoginForm h1 {
	margin: 1rem;
}

.LoginForm .inputArea {
	display: block;
	font-size: 1.25em;
	padding: 0.5rem 1rem;
}

.LoginForm .inputArea label {
	padding-right: 0.5rem;
	font-weight: bold;
}

.LoginForm input[type="submit"] {
	margin: 1rem;
	font-size: 1.5em;
}

.LoginForm .loginError {
	font-size: 1.25em;
	margin: 1em;
	padding: 0.25em;
	color: red;
}