.SearchBar {
    margin: 0.5em auto;
    padding: 0.5em;
    background-color: #cccccc;
    border-radius: 1em;
    border: 2px solid #444444;
    max-width: 45em;
}

/* Used in the same way as Bootstrap's .input-group */
#searchCriteria .inputGroup {
    display: inline;
    padding: 0 0.5em;
}

#searchCriteria .inputGroup label {
    margin-right: 0.25em;
}

@media (max-width: 450px) {
    
    .SearchBar {
        /* This is centered, but will touch the sides if margin left/right is left on auto */
        margin: 0.5em;
    }
    
    #searchCriteria label, #searchCriteria input, #searchCriteria button, #searchCriteria select {
        margin: 0.5em auto;
        display: block;
        font-size: 1.5em;
        padding: 0.5em 0.2em;
    }
    
    #searchCriteria .inputGroup {
        width: 100%;
        text-align: center;
        display: block;
        padding: 0;
    }
    
    #searchCriteria label {
        font-weight: bold;
        padding: 0;
    }
}